<h2>All Websites</h2>
<p><%= link_to "Add a New Website", new_website_path %>
<% if @websites.any? %>
	<ul>
	<% @websites.each do |website| %>
		<li><%= link_to website.name, website %></li>
	<% end %>
	</ul>
<% end %>