<h2>All Movies</h2>
<p><%= link_to "Add a New Movie", new_movie_path %></p>
<% if @movies.any? %>
	<ul>
	<% @movies.each do |movie| %>
		<li><%= link_to "#{movie.name} by #{movie.director.name}", movie %></li>
	<% end %>
	</ul>
<% end %>