<h2>All Albums</h2>
<p><%= link_to "Add a New Album", new_album_path %></p>
<% if @albums.any? %>
	<ul>
	<% @albums.each do |album| %>
		<li><%= link_to "#{album.title} by #{album.artist.name}", album %></li>
	<% end %>
	</ul>
<% end %>