
 /*body {
	background-image: url("desert_island_mid_home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/* Welcome page */

.cool {
	font-family: 'Codystar', sans-serif;
	font-weight: 300;
	font-size: 5em;
	font-color: #5c4535;
	background-color: none;
	margin-top: 40px;
	/*margin-left: 295px;
	padding: 10px;
	/*line-height: 3.3em;*/
} 

.form-inline {
	text-align: center;
	margin-top: 40px;
	padding: 0% 20% 40% 20%;
	
}


/* Picks page */

.username1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 4em;
	font-color: #5c4535;
	background-color: none;
	padding-top: 1%;
	/*margin: 2% 20% 0% 20%;
	
	/*margin-left: 325px; */
	/*padding: 0% 40% 0% 24%;
	/*line-height: 3.3em;*/
}

.desertislandpicks {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 5em;
	color: white;
	background-color: none;
	margin-top: -20px;
	margin-bottom: none;
	/*margin-left: 195px;
	padding: 0px;*/
}



/*.form-control {
	width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

 .form-inline .input-group > .form-control {
    width: 150% !important;
  } */

 /* .placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
} */
  



/*.appposition {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 175%;
	font-color: #FFF;
	text-align: center;
	background-color: none;
	margin-top: 20px;
	margin-bottom: none;
	margin-left: 35px;
	padding: 25px 2px 0px 2px;
	
}

.movieposition {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 175%;
	font-color: #000;
	text-align: center;
	background-color: none;
	margin-top: 20px;
	margin-bottom: none;
	margin-left: 35px;
	padding: 25px 2px 0px 2px;
	
} */

.position {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 150%;
	font-color: #000;
	text-align: center;
	background-color: none;
	margin-top: 20px;
	margin-bottom: none;
	margin-left: 35px;
	padding: 28px 2px 0px 2px;
	
}

.webposition {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 140%;
	font-color: #FFF;
	text-align: center;
	background-color: none;
	margin-top: 20px;
	margin-bottom: none;
	margin-left: 35px;
	padding: 30px 2px 0px 2px;
	
}

.movietext {
	color: white;
}



.appform {
	float: left;
	margin-top: -395px;
	/*margin-left: -600px;*/
}

.movieform {
	float: left;
	margin-top: -450px;
	/*margin-left: -600px;*/
}

.albumform {
	float: left;
	margin-top: -450px;
	/*margin-left: -600px;*/
}

.websiteform {
	float: left;
	margin-top: -450px;
	/*margin-left: -600px;*/
}

.btn-primary {
	margin-right: 300px;

}


/* right nav! */

#rightnav {


}

.profilemenu {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1.15em;
	color: white;
	background-color: none;
	/*padding-top: 1%;
	/*margin-top: -10%;
	/*margin: 2% 20% 0% 20%;
	
	/*margin-left: 325px; */
	/*padding: 0% 40% 0% 24%;
	/*line-height: 3.3em;*/
}


/* Profile page Header! */

.username2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 4em;
	color: white;
	background-color: none;

	

	
	
	/*margin: 2% 20% 0% 20%;
	
	/*margin-left: 325px; */
	/*padding: 0% 40% 0% 24%;
	/*line-height: 3.3em;*/
}





/* left nav! */

#leftnav {

	float: left;


}


.mainmenu {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 1.4em;
	color: black;
	background-color: none;
	
	text-align: center;
	
}

.movietext {
	color: white;
	

}

.albumtext{
	color: white;
	

}

.textcenter {
	
	padding-top: 1.2em;
}

.yellowcircle {
    width: 78px;
    height: 78px;
    border-radius: 78px;
	margin-top: 20px;
	margin-left: 35px;
    /*border: 3px solid black; */
    background-color: yellow;
}

.bluecircle {
    width: 78px;
    height: 78px;
    border-radius: 78px;
	margin-top: 30px;
	margin-left: 35px;
    /*border: 3px solid black;*/
    background-color: blue;
}

.redcircle {
    width: 78px;
    height: 78px;
    border-radius: 78px;
	margin-top: 30px;
	margin-left: 35px;
    /*border: 3px solid black;*/
    background-color: red;
}

.greencircle {
    width: 78px;
    height: 78px;
    border-radius: 78px;
	margin-top: 30px;
	margin-left: 35px;

    /*border: 3px solid black;*/
    background-color: green;
}

.whitecircle {
    width: 78px;
    height: 78px;
    border-radius: 78px;
	margin-top: 30px;
	margin-left: 35px;
    /*border: 3px solid black;*/
    background-color: white;
} 



/* Profile styles! */


#maincontainer {

	float:right;
}

#maincontent {
	float:none;
	padding-top: 2em;


}

.midrow {
	display:inline-block;
}

/*.clearrow {
	float:none;
}*/

.profilecircles {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: black;
	background-color: none;

}

.profilepic {
	 width: 160px;
    height: 160px;
    margin-left: 45px;
    /*border: 3px solid black;*/
    /*background-color: white;
*/
}


.profiletextcenter {
	
	padding: 1.5em .5em 1em .25em;
	
}

.profilealbumtext {
		color: white;
}

.profilemovietext {

		color: white;
}


.yellowprofilecircle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    /*padding-top: .75em;
    margin-bottom: 10px;
    /*border: 3px solid black; */
    background-color: yellow;
}

.blueprofilecircle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    /*padding-top: .75em; */
	/*margin-left: 10px;
	
    /*border: 3px solid black;*/
    background-color: blue;
}

.redprofilecircle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
	/*margin-top: 10px;
	
    /*border: 3px solid black;*/
    background-color: red;
}

.greenprofilecircle {
    width: 120px;
    height: 120px;
    border-radius: 120px;

	
    /*border: 3px solid black;*/
    background-color: green;
}

.whiteprofilecircle {
    width: 120px;
    height: 120px;
    border-radius: 120px;
	
    /*border: 3px solid black;*/
    background-color: white;
}


























